---
import { getCollection, type CollectionEntry } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

let posts: CollectionEntry<'blogs'>[] = await getCollection('blogs');
---

<Layout title="Blog" metadesc="Browse my blog">
  <section class="text-gray-600 body-font">
    <div class="container p-5 mx-auto">
      <!-- Search form -->
      <form action="/blog/search" class="flex items-center gap-4 mb-4">
          <input type="search" name="query" id="query" class="w-full border border-blue-500 outline-none focus:outline-blue-500 focus:ring-blue-500 px-3 py-1 rounded" placeholder="Search my blog...">
          <button type="submit" class="bg-blue-500 active:bg-blue-600 text-white px-3 py-1 rounded">
              <i class="fa fa-search text-lg"></i>
          </button>
      </form>
      <div class="flex flex-wrap -m-4">
        {
          posts.map(post => {
            return <PostCard {...post.data} />;
          })
        }
      </div>
    </div>
  </section>
</Layout>
