---
import { ModeToggle } from "./ModeToggle";
import { buttonVariants } from "./ui/button";
import MobileNav from "./MobileNav";
---

<nav
  class="h-16 bg-background/50 sticky top-0 border-b px-8 backdrop-blur flex items-center justify-between z-10"
>
  <a href="/" class="flex items-center gap-4">
    <img src="/images/logo.png" width="48" height="48" alt="" />
  </a>

  <ul class="hidden md:flex items-center justify-end space-x-6 w-full mr-6">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/docs/resume.pdf" class={buttonVariants({ variant: "default" })}
        >Resume</a
      >
    </li>
  </ul>

  <ul class="flex items-center space-x-4">
    <li>
        <ModeToggle client:load />
    </li>
    <li>
        <MobileNav client:load />
    </li>
  </ul>
</nav>
